{{ 'styles.css' | asset_url | stylesheet_tag }}
<section
  class="bg-center bg-no-repeat bg-gray-700 bg-blend-multiply"
  style="background-image: url('{{ section.settings.image | img_url: 'master' }}'); background-size: cover;"
>
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">
      {{ section.settings.title }}
    </h1>
    <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">
      {{ section.settings.subtitle }}
    </p>
    <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
      <a
        href="{{section.settings.btn1_url}}"
        class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
      >
        {{ section.settings.btn1_text }}
        {{ 'icon-arrow.svg' | inline_asset_content }}
      </a>
      <a
        href="{{section.settings.btn2_url}}"
        class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400"
      >
        {{ section.settings.btn2_text }}
      </a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Hero Image Slider",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "max_blocks": 5,
  "settings": [
    {
      "type": "header",
      "content": "My Settings"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "My setting label",
      "default": "Enter text here"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Welcome message",
      "default": "Welcome to my shop!"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "btn1_text",
      "label": "Button 1 Text",
      "default": "Learn more"
    },
    {
      "type": "url",
      "id": "btn1_url",
      "label": "Button 1 URL"
    },
    {
      "type": "text",
      "id": "btn2_text",
      "label": "Button 2 Text",
      "default": "Learn more"
    },
    {
      "type": "url",
      "id": "btn2_url",
      "label": "Button 2 URL"
    }
  ],
  "blocks": [
    {
      "type": "hero-image-slider-block",
      "name": "Hero Image Slider Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Image Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}
